<div class="columns is-multiline">

  <app-calculator class="column is-third"></app-calculator>
  <app-calculator class="column is-third"></app-calculator>

  <app-container class="column is-third">
    <app-calculator></app-calculator>
  </app-container>

</div>
