<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Object type {{control.constructor.name}}
      <span *ngIf="control.name">
        , name: {{control.name}}
      </span>
    </p>
  </header>
  <pre class="card-content">
  submitted: {{control.submitted | json}}
  pristine: {{control.pristine | json}}     dirty: {{control.dirty | json}}
  touched: {{control.touched | json}}       untouched: {{control.untouched | json}}
  valid: {{control.valid | json}}           invalid: {{control.invalid | json}}
  errors: {{control.errors | json}}
  value: {{control.value | json}}
  </pre>
</div>
