h4 Spusťte Angular CLI
p.
  Následujícím příkazem spustíte aplikaci cvičení:

snippet.
  npm start

p.
  Po spuštění poběží aplikace na adrese #[a(href="http://localhost:4200", target="_blank") localhost:4200].

h3 Popis cvičení

p.
  Ve cvičení je připravena komponenta výpočtu ceny knihy v malém vydavatelství.
  Nejprve přesunete do samostatné služby samotný výpočet, potom do služby přesunete i ukládání proběhlých výpočtů.
  Vyzkoušíte si také rozdíl v registraci služby na globální úrovni a na úrovni komponenty.

h3 1 - Vytvoření služby

p.
  V komponentě #[strong CalculatorComponent] v souboru #[em calculator/calculator.component.ts] se nachází výpočet ceny.
  Na stránce cvičení jsou zobrazeny tři komponenty pro výpočet.

ul.task
  li vyzkoušejte, jak se komponenty chovají
    ul
      li výpočet i ukládání je nezávislé, děje se přímo v komponentě.
  li prohlédněte si šablonu a volání v metodě #[strong getPrice()]
  li vytvořte službu #[strong CalculatorService] pomocí #[strong angular-cli]
    snippet.
      ng generate service calculator

h4 1.1 - registrujte službu na úrovni modulu

p.
  služba #[strong CalculatorService] je vytvořena, není ale zatím nikde registrována

ul.task
  li registrujte službu na úrovni modulu v #[em app.module.ts]

hint Přidejte službu do vlastnosti #[strong providers]

solution
  :highlight-ts
    providers: [CalculatorService],

h4 1.2 - injektněte službu do komponenty

ul.task
  li injektněte službu #[strong CalculatorService] do komponenty #[strong CalculatorComponent]

hint Stačí ji uvést jako parametr konstruktoru komponenty.

solution
  :highlight-ts
    constructor(private calculator: CalculatorService) {
      this.clearCalculator()
    }

h4 1.3 - přesuňte výpočet do služby

ul.task
  li přesuňte metodu #[strong calculate] z komponenty do služby #[strong CalculatorService]
  li v metodě #[strong getPrice] provolejte metodu služby
  li upravte volání i v metodě #[strong saveCalculation]

solution
  :highlight-ts
    getPrice() {
      return this.calculator.calculate(this.book);
    }

    ...

    saveCalculation(book: Book) {
      book.price = this.calculator.calculate(book);
      this.calculations.push(book);
    }


ul.task
  li vyzkoušejte, že výpočet stále funguje

h3 2 - Registrace služby na úrovni komponenty

p.
  V komponentě se ukládají také data uložených výpočtů, chtěli bychom je ale na úrovni služby sdílet mezi komponentami.
  Služba nám zde může sloužit i jako nositel dat.

h4 2.1 - vytvořte službu #[strong SavedCalculationsService]

ul.task
  li vytvořte službu #[strong SavedCalculationsService] pomocí #[strong angular-cli]
    snippet.
      ng generate service SavedCalculations

p.
  služba je vytvořena, není ale zatím nikde registrována

ul.task
  li registrujte službu na úrovni modulu v #[em app.module.ts]

hint Přidejte službu do vlastnosti #[strong providers]

solution
  :highlight-ts
    providers: [CalculatorService, SavedCalculationsService],

h4 2.2 - přesuňte ukládané výpočty do služby

ul
  li.task přesuňte deklaraci vlastnost #[strong calculations] a metodu #[strong saveCalculation] z komponenty do služby #[strong SavedCalculationsService]
  li metoda #[strong saveCalculation] volá metodu služby #[strong CalculatorService]
  li.task injektněte tedy službu #[strong CalculatorService]

solution
  :highlight-ts
    @Injectable()
    export class SavedCalculationsService {

      calculations: Book[] = [];

      constructor(private calculator : CalculatorService) { }

      saveCalculation(book: Book) {
        book.price = this.calculator.calculate(book);
        this.calculations.push(book);
      }

    }

h4 2.3 - použijte službu v komponentě

ul.task
  li injektněte vytvořenou službu do komponenty #[strong CalculatorComponent]
  li upravte volání v metodě #[strong save]
  li v metodě #[strong getCalculations] získávejte vlastnost ze služby

solution
  :highlight-ts
    constructor(private calculator: CalculatorService,
                private savedCalculations: SavedCalculationsService) {

      this.clearCalculator()
    }

    save() {
      this.savedCalculations.saveCalculation(this.book);
      this.clearCalculator();
    }

    getCalculations() {
      return this.savedCalculations.calculations;
    }

ul.task
  li vyzkoušejte, jak ukládání funguje nyní
    ul
      li uložené výpočty jsou zobrazovány napříč komponentami

h4 2.4 - registrujte službu na úrovni komponenty

ul.task
  li prohlédněte si šablonu #[strong app.component.html]
    ul
      li obsahuje tři komponenty #[strong CalculatorComponent], jedna je obalena v kontejneru #[strong ContainerComponent]

p.
  Komponenta #[strong ContainerComponent] díky stylu definovanému v #[em app.component.css] barevně zvýrazňuje komponentu výpočtu,
  chtěli bychom ale také aby vytvářela pro zanořené komponenty samostatný prostor pro uložení výpočtu

ul.task
  li registrujte službu #[strong SavedCalculationsService] v komponentě #[strong ContainerComponent]

hint Také zde slouží pro registraci kolekce #[strong providers]

solution
  :highlight-ts
    @Component({
      selector: 'app-container',
      templateUrl: 'container.component.html',
      providers: [SavedCalculationsService]
    })
    export class ContainerComponent  {}

ul.task
  li ověřte, zvýrazněná komponenta používá vlastní službu #[strong SavedCalculationsService] a tedy má také vlastní uložené výpočty

h3 3 - Vyzkoušejte celou aplikaci

.success Výborně, vytvořili jste službu, použili ji v komponentě a využili také hierarchický injektor.
