<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{title}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <b>{{address.company}}</b><br/>
      {{address.contact}}

      <p>
        {{address.address}},<br/>
        {{address.city}}, {{address.state}}
      </p>
    </div>
  </div>
</div>
